/*
body {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(20,0,36,1) 0%, rgba(60,9,121,1) 40%, rgba(80,140,255,1) 100%);
  
color: white;
font-family: verdana;
} 
*/

/*
body {
background: rgb(2,0,36);
background: linear-gradient(90deg,
rgba(33,250,225,1) 2%,
rgba(33,200,229,1) 10%,
rgba(60,9,121,1) 50%,
rgba(20,0,36,1) 75%,
rgba(220,40,250,1) 112%);
  
color: white;
font-family: Trebuchet MS;
}
*/


body{
    background-image: linear-gradient(to right bottom,#21FAE1, #21C8E5, #480B93, #2F0056, #DC28FA);
  
  /*color: rgb(255, 255, 255);*/
  font-family: Trebuchet MS;
  font-size: 50px;
  }
  
  
  html {
      height: auto;
  }
  

  body {
      height: auto;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  
  
  body{
        display: flex;
        /*align-items: center;*/
        justify-content: center;
        backdrop-filter: none;
  }
  /*
  div {
    align-items: top;
    justify-content: center;
  }*/
  
  .p1 {
      align-items: center;
      justify-content: center;
  }
  
  .square {
        position: absolute;
        display: flex;
        align-items: top;
        justify-content: center;
        background-color: #000000;
        color: rgb(255, 255, 255);
        opacity: 0.7;
        width: 800px;
        height: 1000px;
        letter-spacing: 4px;
        border-radius: 20px;
        margin-top: 150px;
        margin-bottom: 150px;


        /*
        top: 50;
        left: 50;*/
        
      }

  
  .navbar {
    position: absolute;
    top: -100;

    display: flex;
    align-items: top;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    width: 100%;
    height: 80px;

    
    top: 0px;
    margin: 500 500 500 500;
    padding: 10px 0px;
  }